{% extends "carol/layout.html" %}

{% block content %}
    <div class="row" style="margin-top: 1em;">
        {% for post in post_list %}
            <div class="col-sm-6 offset-sm-3" style="margin-bottom: 1em;">
                <div class="card">
                    <img src="{{ post.photo.url }}"
                         alt="{{ post.title }}"
                         class="card-img-top" />
                    <div class="card-body bg-light">
                        <h5 class="card-title">{{ post.title }}</h5>
                        {{ post.content|truncatewords:20 }}
                        <a href="{% url "carol:post_detail" post.pk %}" class="btn btn-sm bg-dark text-white">
                            바로 가기
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}